<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Мой список</title>
    </head>
    <body>
        <h1>Список подарков</h1>
        <a href="/add">Добавить подарок</a>
        <ul>
            <li th:each="gift: ${gifts}">
                <a th:href="@{/gift/{id}(id=${gift.id})}" th:text="${gift.name}"></a>
                <a th:href="@{/edit/{id}(id=${gift.id})}">[редактировать]</a>
            </li>
        </ul>
    </body>
</html>